@import "tailwindcss";

body{
    background-color: black;
}
/* src/index.css или любой другой файл стилей */
@layer base {
    @font-face {
        font-family: 'FuturaPT';
        src: 
            url('https://res.cloudinary.com/dbx6muxub/raw/upload/v1741964168/FuturaPT-Bold_l8usgk.woff2') format('woff2'),
            url('https://res.cloudinary.com/dbx6muxub/raw/upload/v1741964168/FuturaPT-Bold_ygwo0q.woff') format('woff');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPT';
        src: 
           url('https://res.cloudinary.com/dbx6muxub/raw/upload/v1742040729/FuturaPT-Medium_zjdvl6.woff2') format('woff2'),
            url('https://res.cloudinary.com/dbx6muxub/raw/upload/v1742040729/FuturaPT-Medium_wcqnj3.woff') format('woff');
        
        font-weight: 500;
        font-style: normal;
    }


    @font-face {
        font-family: 'FuturaPT';
        src: 
           url('https://res.cloudinary.com/dbx6muxub/raw/upload/v1742041271/FuturaPT-Light_favijz.woff2') format('woff2'),
            url('https://res.cloudinary.com/dbx6muxub/raw/upload/v1742041271/FuturaPT-Light_mnwgxb.woff') format('woff');
           
        font-weight: light;
        font-style: normal;
    }

    @font-face {
        font-family: 'FuturaPT';
        src: 
           url('https://res.cloudinary.com/dbx6muxub/raw/upload/v1742042711/FuturaPT-LightObl_zoeqhl.woff2') format('woff2'),
            url('https://res.cloudinary.com/dbx6muxub/raw/upload/v1742042711/FuturaPT-LightObl_zk6kkq.woff') format('woff');
           
        font-weight: light;
        font-style: oblique;
    }

}

 @keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease forwards;
}
 

.font-futura {
    font-family: 'FuturaPT', sans-serif !important;
    
}


.custom-swiper-pagination {

 background: #ff00fb00;

}
 
/* Цвет обычной точки */
.custom-swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: #888; /* обычный серый */
  opacity: 0.5;
  border-radius: 50%;
  transition: all 0.3s ease;
} 

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background: #ff00fb; /* ярко-розовый */
  opacity: 1;
  transform: scale(1.2);
}
/* .custom-swiper-pagination {
  background-color: #d1d5db; 
  opacity: 1;
}

.custom-swiper-pagination-active {
  background-color: #d81dcc; 
}

/* .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d1d5db; 
  opacity: 0.5;
  border-radius: 9999px;
  transition: all 0.3s;
} */
/* .swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
  transform: scale(1.2);
} */
